<style type="text/css">
  /*
 * Filter
 */
.dataTables_filter {
    margin-top: -49px !important;
    margin-right: 10px;
}
.dataTables_length{
  margin-left: 15px;
  margin-bottom: 3px;
}
</style>

<div class = "project_list_div">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Cuts</div>
    <div class="panel-body" id = "panel-body-active">
      <button type="button" class="btn btn-default navbar-btn filter-btn-all active" data-text = "ALL">ALL <span class="badge" id = ""><%=@serverty.count if @serverty%></span></button>
      <button type="button" class="btn btn-default navbar-btn filter-btn-ser" data-text = "HIGH">HIGH <span class="badge"><%=@serverty.count("HIGH") if @serverty%></span></button>
      <button type="button" class="btn btn-default navbar-btn filter-btn-ser" data-text = "MEDIUM">MEDIUM <span class="badge"><%=@serverty.count("MEDIUM") if @serverty%></span></button>
      <button type="button" class="btn btn-default navbar-btn filter-btn-ser" data-text = "LOW">LOW <span class="badge"><%=@serverty.count("LOW") if @serverty%></span></button>
      <button type="button" class="btn btn-default navbar-btn filter-btn-stat" data-text = "CLOSED" id = "closed_issue_button">CLOSED <span class="badge" ><%=@closed.count("CLOSED") if @closed%></span></button>
    </div>  
    <table  class="table  no-margin" id="table-issues" cellspacing="0" width="100%">
      <thead>
        <tr style="background-color: #F1EEEE;">
          <th>Severity</th>
          <th>Severity</th>
          <th>Project</th>
          <th style="width: 200px !important;">Description</th>
          <th style="width: 200px !important;">MitigationPlan</th>
          <th>Identified</th>
          <th>Resolved</th>
          <th>Status</th>
          <th>Action</th>

        </tr>
      </thead>
      <tbody>       
        <% @issues.each do |issue| %>
        <tr>
          <td ><%=issue.Severity%></td>
          <td class = <%=issue.Severity%> style="text-align: center;"><%=image_tag image_icon(issue.Severity), :width => '50%' %></td>
          <td><%= issue.Project %></td>
          <td><%= issue.Description %></td>
          <td><%= issue.mitigationPlan %></td>
          <td><%= issue.dateIdentified %></td>
          <td><%= issue.dateResolved %></td>
          <td><%= issue.Status %></td>
          <td><%=link_to edit_issue_path(:id=>issue.objectId) , :data_id => issue.objectId, :class => "issue_update" do %>
          <i><%=image_tag "glyphicons_150_edit.png"%></i>
          <%end%>
          <%=link_to  "", :data_id => issue.objectId, :class => "issue_delete" do %>
          <i><%=image_tag "glyphicons_207_remove_2.png"%></i>
          <%end%>
          </td>
        </tr>
        <% end %>   
      </tbody>
    </table>
  </div>
</div>  
