<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Update Issue</h3>
	</div>
	<div class="panel-body">
		<%=form_for(@object_issues)  do |f| %>  
		<div class="control-group">
			<div class="col-sm-12"> 
				<div class="col-sm-4">
					<label class="" for="input01">Project</label>  
					<div class="s">
						<%=f.text_field :Project, :required => 'required'%>  
					</div> 
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">Description</label>  
					<div class="">
						<%=f.text_area :Description , :required => 'required' , :rows=>"3"%>
						<!-- <textarea name="description" id="description" placeholder = "Enter Description" required></textarea> -->
					</div> 
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">MitigationPlan</label>  
					<div class="">
						<%=f.text_area :mitigationPlan , :rows=>"3"%>
						<!-- <textarea name="mitigationPlan" id="mitigationPlan" placeholder = "Enter MitigationPlan" ></textarea> -->
					</div> 
				</div>
			</div>
			<div class="col-sm-12"> 
				<div class="col-sm-4">
					<label class="" for="input01">DateIdentified</label>  
					<div class="s">
						<%=f.text_field :dateIdentified , :required => 'required' ,:readonly => true, :class=>"datepicker"%>  
						<!-- <input type="text" class="datepicker" id="dateIdentified" name="dateIdentified"required readonly value="<%=Date.today.strftime('%d-%m-%Y')%>"> -->  
					</div> 
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">DateResolved</label>  
					<div class="">  
						<%=f.text_field :dateResolved ,:readonly => true%>
						<!-- <input type="text" class="" id="dateResolved" name="dateResolved" readonly>   -->
					</div> 
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">Status</label>  
					<div class="">
						<%= f.select :Status, options_for_select([["OPEN","OPEN"],["IN-PROGRESS","IN-PROGRESS"],["CLOSED","CLOSED"]], :selected => @object_issues.Status)%>  
					</div> 
				</div>
			</div>
			<div class="col-sm-12"> 
				<div class="col-sm-4">
					<label class="" for="input01">Severity</label>  
					<div class="">
						<%= f.select :Severity, options_for_select([["LOW","LOW"],["MEDIUM","MEDIUM"],["HIGH","HIGH"]],:selected => @object_issues.Severity) %>   
					</div> 
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">Assigned To</label>
					<div class="s">  
						<%if current_user.isAdmin%> 
						<%= f.select :assignedTo, options_for_select([['Please Select','Please Select']] + @users,:selected => @object_issues.assignedTo)%>
						<%else%>
						<%= f.select :assignedTo, options_for_select(@users)%>
						<%end%>
					</div>
				</div>
				<div class="col-sm-4">
					<%if current_user.isAdmin%>
					<label class="" for="input01">Is Management Issue</label>
					<%=f.check_box :isManagementIssue %>
					<!-- <input type="checkbox" id="ismanageable" > -->
					<%end%>
				</div>
			</div>
			<div class="col-sm-12"> 
				<div class="col-sm-4">
					<label class="" for="input01">Comments</label>  
					<div class="">
						<%=text_area_tag "issues[CommentsArray]" ,nil, :rows =>"3", :cols => "50" %>
					</div>
				</div>
				<div class="col-sm-4">

				</div>
				<div class="col-sm-4">
					<button type="submit" class="btn btn-primary"  style="margin-top: 23px;" >Update</button>
				</div>
				
			</div>   
			<div class="col-sm-12"> 
				<div class="col-sm-6">
					<% if !@object_issues.CommentsArray.blank? || @object_issues.CommentsArray.class == Array %>
						Following are the audit trails.<br/>						
						<%@object_issues.CommentsArray.each do |comment|%>
							Note :<%= comment[0] %><br/>
							<%= comment[1] %><br/><br/>
						<%end%>
					<%end%>
				</div>
			</div> 

		</div>  
		<%end%>  
	</div>
</div>