<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Update Cut</h3>
	</div>
	<div class="panel-body">
		<%= form_for(@object_issues) do |f| %>
			<div class="control-group">
				<div class="col-sm-12 create_cut_field">
					<div class="col-sm-4">
						<label class="" for="input01">Project<span class="required">*</span></label>  
						<div class="s">
							<% if true #current_user.isAdmin %>
								<%= f.select :Project, options_for_select(projects, selected: @object_issues.Project ) %>
							<% else %>
								<%= @object_issues.Project %>
							<% end %>
							<%= hidden_field_tag :project, params[:project] %>
						</div> 
					</div>
				</div>

				<div class="col-sm-12 create_cut_field">
					<div class="col-sm-12">
						<label class="" for="input01">Description<span class="required">*</span></label>
						<div>
							<% if true #current_user.isAdmin %>
								<%= f.text_area :Description, required: 'required', class: "cut-area" %>
							<% else %>
								<%= @object_issues.Description %>
							<% end %>
						</div>
					</div>
				</div>

				<div class="col-sm-12 create_cut_field">
					<div class="col-sm-4">
						<label class="" for="input01">Status<span class="required">*</span></label>
						<div class="">
							<%= f.select :Status, options_for_select(status, selected: @object_issues.Status) %>
						</div>
					</div>
				</div>

				<div class="col-sm-12 create_cut_field">
					<div class="col-sm-4">
						<label class="" for="input01">Severity<span class="required">*</span></label>
						<div>
							<%= f.select :Severity, options_for_select(servity,:selected => @object_issues.Severity) %>   
						</div> 
					</div>
				</div>

				<div class="col-sm-12 create_cut_field">
					<div class="col-sm-12">
						<label for="input01">Comments</label>
						<div>
							<%= text_area_tag "issues[CommentsArray]", nil, rows: "3", cols: "50", style: "width: 100%;" %>
						</div>
					</div>
				</div>
				
				<div class="col-sm-12">
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary">Update</button>
						<%= link_to "Cancel", '/', class: "btn btn-primary" %>
					</div>
				</div>

				<div class="col-sm-12">
					<% unless @object_issues.CommentsArray.blank? %>
						<% render partial: 'comments', locals: {comments: @object_issues.CommentsArray } %>
					<% end %>
				</div>
				
			</div> 
		<% end %> <!--Form End-->
	</div>
</div>

<script>
  if(<%= @object_issues.isManagementIssue == true %>) {
		document.getElementById("issues_assignedTo").disabled=true;
	}
</script>