<style type="text/css">
	.span_head{
		padding: 10px;
		color: #3276B1;
		font-size: 17px;
	}	
</style>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Update Issue</h3>
	</div>
	<div class="panel-body">
		<div class="control-group">
			<div class="col-sm-12"> 
				<div class="col-sm-4">
					<label class="" for="input01">Project</label>
					<div class="">
						<%=@object_issues.Project%>  
					</div>
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">Description</label>  
					<div class="">
						<%=@object_issues.Description%>
					</div> 
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">MitigationPlan</label>  
					<div class="">
						<%=@object_issues.mitigationPlan%>
					</div> 
				</div>
			</div>
			<div class="col-sm-12"> 
				<div class="col-sm-4">
					<label class="" for="input01">DateIdentified</label>  
					<div class="s">
						<%=@object_issues.dateIdentified%>
					</div> 
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">DateResolved</label>  
					<div class=""> 
						<%=@object_issues.dateResolved%> 
					</div> 
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">Status</label>  
					<div class="">
						<%=@object_issues.Status%> 
					</div> 
				</div>
			</div>
			<div class="col-sm-12"> 
				<div class="col-sm-4">
					<label class="" for="input01">Severity</label>  
					<div class="">
						<%=@object_issues.Severity%> 
					</div> 
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">Assigned To</label>
					<div class="s"> 
					<%=@object_issues.assignedTo%>  
					</div>
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">Is Management Issue</label>
					<div class="s"> 
						<%=@object_issues.isManagementIssue%>  
					</div>
				</div>
			</div>
			<div class="col-sm-12" style="margin-left: 15px;"> 
				<div class="">
					<% if !@object_issues.CommentsArray.nil?  %>
					<% if !@object_issues.CommentsArray.blank? %>
					<h4 style="padding: 7px;background: #CCC;">Following are the audit trails.</h4>
					<%(@object_issues.CommentsArray.reverse).each do |comment|%>
					<%data = comment[1].split(' ')%>
					<span ><span style = "color: #428BCA;">Audit Trail For :</span><b><%= "#{data[4]} #{data[5]}" %></b></span><br/>
					<span ><span style = "color: #428BCA;">Created By      :</span> <b><%= "#{data[2]}" %></b></span><br/>
					<span ><span style = "color: #428BCA;">Note		 	  		 :</span> <%= comment[0] %></span>
					<hr/>
					<%end%>
					<%end%>
					<%end%>
				</div>
			</div> 

		</div>  
	</div>
</div>