<style type="text/css">
	.span_head{
		padding: 10px;
		color: #3276B1;
		font-size: 17px;
	}	
</style>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Issue details</h3>
	</div>
	<div class="panel-body">
		<div class="control-group">
			<div class="col-sm-12 margin_bottom"> 
				<div class="col-sm-4">
					<label class="" for="input01">Project</label>
					<div class="">
						<%=@object_issues.Project%>  
					</div>
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">Description</label>  
					<div class="">
						<%=@object_issues.Description%>
					</div> 
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">MitigationPlan</label>  
					<div class="">
						<%=@object_issues.mitigationPlan%>
					</div> 
				</div>
			</div>
			<br/>
			<div class="col-sm-12 margin_bottom"> 
				<div class="col-sm-4">
					<label class="" for="input01">DateIdentified</label>  
					<div class="s">
						<%=@object_issues.dateIdentified%>
					</div> 
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">DateResolved</label>  
					<div class=""> 
						<%=@object_issues.dateResolved%> 
					</div> 
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">Status</label>  
					<div class="">
						<%=@object_issues.Status%> 
					</div> 
				</div>
			</div>
			<br/>
			<div class="col-sm-12 margin_bottom"> 
				<div class="col-sm-4">
					<label class="" for="input01">Severity</label>  
					<div class="">
						<%=@object_issues.Severity%> 
					</div> 
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">Assigned To</label>
					<div class="s"> 
					<%=@object_issues.assignedTo%>  
					</div>
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">Is Management Issue</label>	
					<% isManagementIssue = @object_issues.isManagementIssue %>
					<%= check_box_tag 'isManagementIssue', false, isManagementIssue, :disabled => true %>
				</div>				
			</div>
			<br/>
			<div class="col-sm-12 margin_bottom"> 
				<div class="col-sm-4">
					<label class="" for="input01">AccountManager</label>  
					<div class="">
						<%=@object_issues.AccountManager%> 
					</div> 
				</div>
				<div class="col-sm-4">
					<label class="" for="input01">ProjectOwner</label>
					<div class="s"> 
					<%=@object_issues.ProjectOwner%>  
					</div>
				</div>
				<div class="col-sm-4">
			  	<label class="" for="input01">Is Client Issue</label>
			  	<% isClientIssue = @object_issues.isClientIssue %>
					<%= check_box_tag 'isClientIssue', false, isClientIssue, :disabled => true %>
				</div>				
			</div>
			<br/>
			<div class="col-sm-12 margin_bottom"> 
				<div class="col-sm-4">
					<label class="" for="input01">Issue Type</label>  
					<div class="">
						<%=@object_issues.IssueType%> 
					</div> 
				</div>
				<div class="col-sm-4">
				</div>
				<div class="col-sm-4">
						</div>				
			</div>
			<div class="col-sm-12" style="margin-left: 15px;"> 
				<div class="">
					<% if !@object_issues.CommentsArray.nil?  %>
					<% if !@object_issues.CommentsArray.blank? %>
					<h4 style="padding: 7px;background: #CCC;">Audit Trails</h4>
					<%(@object_issues.CommentsArray.reverse).each do |comment|%>
					<%data = comment[1].split(' ')%>
					<span ><span style = "color: #428BCA;">Audit Trail For :</span><b><%= "#{data[4]} #{data[5]}" %></b></span><br/>
					<span ><span style = "color: #428BCA;">Created By      :</span> <b><%= "#{data[2]}" %></b></span><br/>
					<span ><span style = "color: #428BCA;float: left;margin-right: 5px;">Note		 	  		 :</span> <%= simple_format(comment[0]) %></span>
					<hr/>
					<%end%>
					<%end%>
					<%end%>
				</div>
			</div> 

		</div>  
	</div>
</div>