<h1>Sign Up</h1>  
  
<%= form_for @user do |f| %>  
  <p>  
    <label class="" for="input01">Email<span style="color: #FF0000;padding: 4px;">*</span></label><br />  
    <%= f.email_field :email ,:required => true%>  
  </p>
  <p>  
    <%= f.label :Name %><span style="color: #FF0000;padding: 4px;">*</span><br />  
    <%= f.text_field :Name ,:required => true%>  
  </p>
  <p>  
    <%= f.label :username %><span style="color: #FF0000;padding: 4px;">*</span><br />  
    <%= f.text_field :username ,:required => true%>  
  </p>  
  <p>  
    <%= f.label :password %><span style="color: #FF0000;padding: 4px;">*</span><br />  
    <%= f.password_field :password ,:required => true%>
  </p>  
  <p class="button"><%= f.submit %></p>  
<% end %>  