<% if @success %>
	$("#flash_create_message").empty();
    $("#flash_create_message").html("<%= escape_javascript @success%>");
    $("#flash_error_message").hide();
    $("#flash_create_message").show();
    $('#project_list_create_form').prepend("<li class='list-group-item list-group-item-info'><%=@project.ProjectName%><a href='javascript:;' class='delete_project' data_id=<%=@project.objectId%> style='float: right;'> <span class='badge'>delete</span></a></li>")
    $('<option>').val("<%=@project.ProjectName%>").text("<%=@project.ProjectName%>").appendTo($('#new_issue_create_form #project'));
<% end %>
<% if @error %>
	$("#flash_error_message").empty();
    $("#flash_error_message").html("<%= escape_javascript @error%>");
    $("#flash_create_message").hide();
    $("#flash_error_message").show();
<% end %>
$('#create_project_button').prop('disabled', false).html("Create Project");
$('#project_ProjectName').val('')