<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('logo_small.png', width: '67'), root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Dashboard', root_path %></li>
        <% if current_user.isAdmin %>
          <li><%= link_to 'Manage Projects', projects_path %></li>
        <% end %>
        <li><a href="#create_new_issue" data-toggle = "modal" >Create New Cut</a></li>
        <li><a href="#import_new_issue" data-toggle = "modal" >Import Cuts</a></li>
        <li><%= link_to 'Reset Password', edit_user_path(current_user.objectId) %></li>
        <% if can? :new, User %>
          <li><%= link_to 'Create User', sign_up_path %></li>
          <li><%= link_to 'Report', report_issues_path %></li>
        <% end %>
        <li><%= link_to 'Logout', log_out_path %></li>
      </ul>
    </div>
  </div>
</nav>