<!DOCTYPE html>  
<html>  
  <head>  
    <title>Death BY A Thousand Cuts</title>  
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>  
  </head>  
  <body> 

    <% if current_user %>  
      <%= render "layouts/navbar"%>
    <%end%>
     
    <% flash.each do |name, msg| %>  
      <div class="alert alert-info" style="text-align: center;">
        <a class="close" href="#">×</a>
        <%= content_tag :div, msg, :id => "flash#{name}" %>
      </div>
    <% end %>  

    <div class="container-fluid container-root"> 
    	<%= yield %>  
    </div>
    
  </body>  
</html>  