<!DOCTYPE html>  
<html>  
  <head>  
    <title>Death By Thousand Cuts</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>  
  <body> 

    <% if current_user %>
      <%= render "layouts/navbar"%>
    <% end %>

    <%= render 'layouts/flash_messages' %>

    <div class="container-fluid container-root">
      <% if current_user %>
        <span id="welcome">Hi, <%= current_user.Name %></span>
      <% end -%>
    	<%= yield %>
      <% if current_user %>
        <input type="hidden" id="issue_user_name" value=<%= current_user.username %>>
        <div class="modal fade" id="create_new_issue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" style="width: 65%;">
            <div class="modal-content" >
              <div class="modal-header" style="background-color: #428BCA;height: 47px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                Create New Cut  
              </div>
              <div class="modal-body" style="height: 350px;">
                <%= render "/issues/create" %>
              </div>
              <div class="modal-footer" style="background-color: whiteSmoke;">
                <button type="button" data-dismiss="modal" class="btn">Close</button>
                <button type="button" class="btn btn-primary"  id ="create_issue">Create</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->  
        </div>

        <div class="modal fade" id="import_new_issue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" style="width: 65%;">
            <div class="modal-content" >
              <div class="modal-header" style="background-color: #428BCA;height: 47px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                Import New Cuts  
              </div>
              <div class="modal-body" style="height: 60px;">
                <%= form_tag upload_issues_issues_path, id: "upload_cuts_file_form", multipart: true do %>
                  <span class="wrap1">
                    <%= file_field_tag :file, accept: 'text/csv', class: "btn"%>
                  </span>
                <% end %>
                <div class="control-group">
                  <div class="col-sm-12">
                  <b class='downloadCompanySample'><a class='downloadCompanySample' href="/issues/sample_issues_csv">Click here</a></b> to download sample format of CSV file.
                  </div>  
                </div>
              </div>
              <div class="modal-footer" style="background-color: whiteSmoke;">
                <button type="button" data-dismiss="modal" class="btn">Close</button>
                <button type="button" class="btn btn-primary"  id ="upload_issue" 
                 onclick="javascript: $('#upload_cuts_file_form').submit();">Upload</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->  
        </div>
      <%end%> 

    </div>
    
  </body>  
</html>  